
<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->
    <p>Welcome to the assignment tracker. <br>
    This tracker allows you to track all your assignments by 
    <br>
    writing your course, instrcutor, description and due date</p>

<%- include Partials/footer.ejs%>
